@if (project()) {
<div class="project-card">
    <div class="image-container">
        <img [src]="project()!.img" [alt]="project()!.projectName" class="project-image" />
        <div class="image-gradient"></div>
    </div>

    <div class="card-content">
        <h3 class="project-title">{{ project()!.projectName }}</h3>
        <p class="project-technology">{{project()!.mainTechnology}}</p>
        <p class="project-description">{{ project()!.description }}</p>

        @if (project()?.userAccess?.length) {
            <div class="project-user-access">
                @for (user of project()!.userAccess; track user.userName) {
                <p>Username: {{ user.userName }} | Password: {{ user.password }}</p>
                }
            </div>
            }
    </div>

    <div class="project-footer">
        @if (project()!.otherTechnologies) {
        <div class="project-tags">
            @for (tech of project()!.otherTechnologies; track tech) {
            <app-project-tag [label]="tech" />
            }
        </div>
        }

        <div class="links-tags">
            @for (tag of project()!.tags; track tag.label) {
            <a [href]="tag.link" target="_blank" rel="noopener noreferrer" [attr.title]="tag.full" class="quick-link">
                @if (tag.label === 'Code' || tag.label === 'Front') {
                <ng-icon class="icon" name="heroCodeBracket" size="20" />
                } @else if (tag.label === 'Back') {
                <ng-icon class="icon" name="heroServer" size="20" />
                } @else if (tag.label === 'Website') {
                <ng-icon class="icon" name="heroGlobeAlt" size="20" />
                }
            </a>
            }
        </div>
    </div>

</div>
}