.contact-me {
  margin-top: 50px;
  background-color: $clr4;
  height: 200px;

  > * {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  h1 {
    margin-top: 30px;
    font-size: rem(28px);
  }
  section {
    display: flex;
    justify-content: center;

    p,
    a {
      font-size: rem(16px);
      color: $clr2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px 10px 0px;

      img {
        width: 20px;
        margin: 5px;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .contact-btn {
    button {
      background-color: $clr4;
    }

    img {
      width: 25px;
      background-color: $clr4;
    }
  }
}

@media screen and (min-width: 1080px) {
  .contact-me {
    .contact-btn {
      img {
        width: 30px;
      }
    }
  }
}
