<nav class="header-nav">
    <p>Portfolio</p>
    <ul>
        @for (link of navLinks(); track link.label) {
        <li [routerLink]="link.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: link.path === '/' }">
            <ng-icon [name]="link.icon" />
            <span>{{ link.label }}</span>
        </li>

        }
    </ul>

    <button class="button" (click)="toggleTheme()">
        @if (isDarkMode()) {
        <ng-icon name="heroSun" class="theme-icon" [style.width.px]="24" [style.height.px]="24" />
        } @else {
        <ng-icon name="heroMoon" class="theme-icon" [style.width.px]="24" [style.height.px]="24" />
        }
    </button>
</nav>