// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

.text-center {
  text-align: center;
}
// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
}

// .ratio-16-9 {
//   @include aspect-ratio(100, 56);
// }

// .ratio-square {
//   @include aspect-ratio(100, 100);
// }

// .ratio-card {
//   @include aspect-ratio(100, 80);
// }

// .ratio-poster {
//   @include aspect-ratio(100, 150);
// }

// // Media helpers

// .square-ratio {
//   @include aspect-ratio(1, 1);
// }
// .video-ratio {
//   @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//   @include aspect-ratio(9, 16);
// }

.clear-list {
  list-style: none;
}
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
}

.img-grid {
  display: grid;
}

.thumbnail-name-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
  min-height: 0;

  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.637);
}
.proj-img {
  object-fit: cover;
  flex: 1;
  min-width: 0;
}
