// Breakpoints for consistent responsive design
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 1280px;

@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: #{$bp-mobile + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$bp-tablet + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$bp-desktop}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$bp-desktop + 1px}) {
    @content;
  }
}

@mixin wide {
  @media (max-width: #{$bp-wide}) {
    @content;
  }
}

@mixin wide-up {
  @media (min-width: #{$bp-wide + 1px}) {
    @content;
  }
}