@font-face {
  font-family: airbnb-light;
  src: url(~@/assets/fonts/airbnb-font/AirbnbCereal-Light.ttf);
}
@font-face {
  font-family: airbnb-medium;
  src: url(~@/assets/fonts/airbnb-font/AirbnbCereal-Medium.ttf);
}
@font-face {
  font-family: airbnb-bold;
  src: url(~@/assets/fonts/airbnb-font/AirbnbCereal-Bold.ttf);
}
