@use '../../../../styles/colors' as *;
@use '../../../../styles/helpers' as *;
@use '../../../../styles/breakpoints' as *;

:host {
    display: block;
    padding: 20px;


    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 40px;

        @include tablet {
            gap: 28px;
            padding-top: 24px;
        }

        @include mobile {
            gap: 20px;
            padding-top: 16px;
        }

        @include header-frame;

        .projects-container {
            display: grid;
            grid-template-columns: repeat(3, 450px);
            gap: 32px;
            padding: 0 20px 40px;
            width: 100%;
            justify-content: center;

            @include desktop {
                grid-template-columns: repeat(2, minmax(320px, 450px));
                gap: 24px;
            }

            @include tablet {
                grid-template-columns: repeat(2, minmax(280px, 1fr));
                gap: 20px;
                padding: 0 12px 32px;
            }

            @include mobile {
                grid-template-columns: 1fr;
                gap: 20px;
                padding: 0 0 24px;
            }

            .project-frame {
                --frame-height: 550px;
                --frame-width: 450px;

                @include desktop {
                    --frame-width: min(100%, 450px);
                }

                @include tablet {
                    --frame-width: 100%;
                }

                @include mobile {
                    --frame-width: 100%;
                    --frame-height: 460px;
                }
            }
        }
    }
}