@use '../../../../styles/colors' as *;
@use '../../../../styles/breakpoints' as *;

.frame {
    width: var(--frame-width, 500px);
    max-width: calc(100vw - 32px);
    height: var(--frame-height, 300px);

    background: $frame-background-color; //A semi-transparent dark background that allows the image to be slightly reflected from behind.
    backdrop-filter: blur(8px); //A glass-like effect that blurs the text.
    border: 2px solid $frame-border-color; //A dark brown border that adds a natural wood texture.
    border-radius: 15px;
    box-shadow: 0 20px 50px $frame-shadow-color-dark, 0 0 15px $frame-shadow-color-light; //A soft golden glow that reflects off the frame.

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: var(--frame-justify-content, space-between);
    padding: 15px;

    font-family: 'Georgia', serif;
    color: $secondary-text-color; //A light cream color for the text that contrasts with the dark background.
    text-align: center;
    line-height: 1.6;

    @include tablet {
        padding: 12px;
        border-radius: 12px;
    }

    @include mobile {
        padding: 10px;
        border-radius: 10px;
    }
}

/* Inner rounded corners */
.frame::before {
    content: "";
    position: absolute;
    inset: 10px;
    border: 1px solid $frame-border-color-light;
    border-radius: 10px;
    pointer-events: none;
}