* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

html {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main,
app-root {
    height: 100%;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: #614213;
    z-index: -2; 
}